{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.eslint.json"
  },
  "extends": ["airbnb-typescript/base", "plugin:prettier/recommended", "plugin:@typescript-eslint/recommended"],
  "plugins": ["import", "prettier"],
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }]
  },
  "ignorePatterns": ["src/**/*.test.ts", "src/frontend/generated/*"]
}
